header{
    background: #3700b3;
    border-bottom: 3px solid rgb(0, 175, 238);

}
nav{
    margin-bottom: 10px;
}
.title{
    font-size: 100px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 700;
    color:white;
    margin-top: 100px;
    margin-bottom: 100px;
}
.nav-item {
    display: inline-block;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    padding: 50px;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 5px;

}
.nav-item:hover{
    color: white;
    background-color: #6200ee;
}
.medium-text{
    font-size: 70px;
    text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 400;
}


.nav-item:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
@media (min-width: 992px){
    .medium-text{
        font-size: 15px;
    }
    .nav-item{
        padding: 10px;
        margin: 20px ;
    }
    .title{
        margin: 30px 0;
        font-size: 35px;
        text-align:left;
    }
}

